{% extends "admin/base_site.html" %}

{% load static %}

{% block extrahead %}
<link rel="shortcut icon" href="{% static 'admin/img/favicon.ico' %}" />
{% endblock %}

{% block branding %}
<h1 id="site-name">
<img src="/static/admin/img/AberLink_logo_cropped.png" width="30" height="40" class="d-inline-block align-top" alt="">
<a href="/admin/">AberLink Administration</a>
</h1>
{% endblock %}
{% block title %}AberLink - Admin{% endblock %}

{% block usertools %}
<div id="usertools">
Welcome, <strong>{{ request.user.username }}</strong>
<a href="/auth/user/">View site</a>
</div>
{% endblock %}

{% block extrastyle %}
<style>
  #branding h1, #branding h1 a:link, #branding h1 a:visited {
    color: black;
  }
  #header, #header a:link, #header a:visited {
    background: #ffcc00;
    color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 12px;
    padding-right: 12px;
  }
  a.section:link, a.section:visited {
    color: black;
  }
  .module h2, .module caption, .inline-group h2 {
    background: #ffcc00;
    color: black;
  }
  div.breadcrumbs, div.breadcrumbs a {
    background: #ffbc00;
    color: black;
  }
  #nav-sidebar .current-app .section:link, #nav-sidebar .current-app .section:visited {
    color: black;
  }
  body {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
</style>
{% endblock %}