discord.log
.vscode
src/AberLinkAuthentication/venv
src/AberLinkDiscord/__pycache__
src/AberLinkDiscord/.vscode
src/AberLinkDiscord/.env
src/AberLinkDiscord/discord.log
src/AberLinkDiscord/shelve_file.shelve.db
src/AberLinkDiscord/Pipfile.lock
src/AberLinkDiscord/cogs/__pycache__