{% extends "base.html" %}
{% load static %}

{% block content %}
<h1 style="padding: 30px 0px 30px 0px; text-align: center;">We're sorry to see you go</h1>
<div class="text-center" style="padding: 10px;">
<p>All your data has been removed from our database. Please go <a href="/" class="link-success">Home</a> to create an account once again.</p>
</div>
<img src="{% static '/admin/img/AberLink_database.png' %}" alt="AberLink data deleted" style="display: block; margin: auto; width: 50%;">
{% endblock %}